body {
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    background-image: url('../../static/styles/images/register_bg.jpg');
    margin: 0;
    padding-top: 40px;
    font-family: Arial, sans-serif;
}

nav {
    background: #4caf50;
    width: 100%;
    top: 0;
    z-index: 1000;
    opacity: 1;
    visibility: visible;     
    border-radius: 5px;
    box-shadow: 0 0 5px #4caf50, 0 0 5px #32CD32;     
    box-shadow: none;
    transition: transform 0.3s ease;
}


.ebook-logo {
    float: left;
    width: 150px;
    height: 100px;
    padding-left: 10px;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
    
nav ul li {
    float: left;
    display: inline-block;
    background:  #333;
}
    
nav ul li a {
   color: white;
   text-decoration: none;
   line-height: 70px;
   font-size:  18px;
   padding: 8px 15px;
}    

    
nav ul ul {
    position: absolute;
    top: 70px;
    opacity: 0;
    transition: .3s;
}
      
nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
    
nav ul ul li a {
    line-height: 50px;
}
    
nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;
}


.registration-form {
display: flex;
justify-content;
width: 300px;
box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
padding: 20px;
margin: 8% auto 0;
text-align: center;
}

h2 {
    color: #19e04e;
    margin-bottom: 20px;
}

p {
    text-decoration: none;
    color: #white;
}
a{
    text-decoration: none;
    color: #white;
}

.registration-form p {
     text-decoration: none;
     color: #ebf0ec;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 80%;
    padding: 20px;
    margin-bottom: 15px;
    border: 5px solid #dddddd;
    border-radius: 6px;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.ebook-logo {
    float: left;
    width: 150px;
    height: 100px;
    padding-left: 10px;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
    
nav ul li {
    float: left;
    display: inline-block;
    background:  #333;
}
    
nav ul li a {
   color: white;
   text-decoration: none;
   line-height: 70px;
   font-size:  18px;
   padding: 8px 15px;
}


nav ul li a:hover {
    color: #32CD32;
    border-radius: 5px;
    box-shadow: 0 0 5px #4caf50, 0 0 5px #32CD32;
}
    
nav ul ul li a:hover {
    colors: #32CD32;
    box-shadow: none;
}
    
nav ul ul {
    position: absolute;
    top: 70px;
    opacity: 0;
    transition: .3s;
}
    
nav ul li:hover > ul {
    opacity: 1;
    visibility: visible;
}
    
nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
    
nav ul ul li a {
    line-height: 50px;
}
    
nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;
}
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

.footer{
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    height: 25px;
    
}

.footer-text{
    color: #0c290d;
    text-align: center;
    margin: 0;
}
