<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/books_by_cat.css">
    <title>Books by Category</title>
</head>
<body>
    <nav>
        <img src="eBookClub/images/Ebooklogo.png" class="logo ebook-logo">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Idea</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
            <ul>
                {% for b in book %}
                <li>
                    <a href="{{ url_for('app_views.single_book', book_id=b.id) }}">
                        {{ b.title }} by {{ b.Author }}
                    </a>
                </li>
                {% endfor %}
            </ul>
    <footer class="footer">
        <p class="footer-text">&copy; 2024 EBOOKCLUB. All rights reserved.</p>
    </footer>
</body>
</html>
