{% extends "layout.html" %}
{% block body %}
<nav>
    <img src="../../static/styles/images/Ebooklogo.png" class="logo ebook-logo">
        <ul>
            <li><a href="#">Home</a><li>
            <li><a href="#">About</a><li>
            <li><a href="#">Review</a><li>
            <li><a href="#">My Account</a><li>
            <li><a href="#">Logout</a><li>
        </ul>
</nav>

    <div class="heading">
        <h3>Categories</h3>
    </div>


    <div class="category-container">
        {% for category in categories %}
            <div class="category-card">
                <a href="{{ url_for('app_views.list_books', category_name=category.category_name ) }}">
                    <div class="category-content">
                        <i class="fas fa-book"></i>
                        <h4>{{ category.category_name }}</h4>
                        <p>{{ category.description }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

<footer>
    <div class="footer-bottom">
        &copy; 2024 eBookClub | All rights reserved
    </div>
</footer>

{% endblock %}

