<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/categorie.css">-->
    <link rel="stylesheet" type="text/css" href="../static/styles/books.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/review.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/index.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/login.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/my_account.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/single_book.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/single.css">
    <link rel="icon" href="static/images/Ebooklogo.png" type="image/png" class="ebook-logo">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<title>{{ title }}</title>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
