<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/review.css">
    <link rel="stylesheet" href="file:///E:/fontawesome/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Book Reviews</title>
</head>
<body>
    <nav>
        <img src="eBookClub/images/Ebooklogo.png" class="logo ebook-logo">
        <ul>
            <li><a href="/Home">Home</a><li>
            <li><a href="/About">About</a><li>
            <li><a href="/My_account">My Account</a><li>
            <li><a href="/Login">Logout</a><li>
        </ul>
    </nav>

    <div class="review-container">
        <h2>Post Your Review</h2>
        <form method="POST" action="/review"  id="postform" data-book_id="{{ book.id }}">
            <label for="review_text">Review:</label>
            <input type="text" id="review_text" name="review_text" placeholder="Enter your thoughts" required>
            <label for="rating">Rating:</label>
            <input type="number" id="rating" name="rating" min="1" max="10" placeholder="Choose your rating" required>

            <button type="submit">Submit Review</button>
        </form>
        <script>
            $(document).ready(function(){
                var book_id = $("#postform").data("book_id");
                
                $('#postform').submit(function (event){
                    event.preventDefault();

                    console.log("Before AJAX call");
                    var review_data = {
                    review_text:$("#review_text").val(),
                    rating: $("#rating").val()};

                    $.ajax({
                        type:"POST",
                        url:"/review/" + book_id,
                        contentType: "application/json;charset=UTF-8",
                        data: JSON.stringify(review_data),
                        success: function (response) {
                            if (response.success){
                                window.location.href =response.redirect;
                          } else {
                                alert("Incorrect");
                            }},
                        error: function(error) { 
                            alert("Error: " + JSON.stringify(error));
                        }
                    });
                  });
                });
                </script>

    <footer class="footer">
        <p class="footer-text">&copy; 2024 EBOOKCLUB. All rights reserved.</p>
    </footer>
</body>
</html>
